# Ignore node_modules directory
node_modules/

# Ignore build directory'
build/

# Ignore .env file
.env

# Ignore .env.local file
.env.local

# Ignore .env.development file

.env.development

package-lock.json